__pycache__/
*.py[cod]
/.venv/
/submit.sh
/slurmy-results/
/building-dependencies/runsolver/runsolver
/building-dependencies/runsolver/.built-on-*
/ExampleRuns/example-*/source/
/ExampleRuns/example-*/bin/
/ExampleRuns/example-*/submit.sh
/ExampleRuns/example-*/submit.sh.files/
/YourRuns/GENERATED/example-*/
