__pycache__/
*.py[cod]
/.venv/
/submit.sh
/slurmy-results/
/building-dependencies/runsolver/runsolver
/building-dependencies/runsolver/.built-on-*
/examples/example-*/source/
/examples/example-*/bin/
/examples/example-*/submit.sh
/examples/example-*/submit.sh.files/
/examples/GENERATED/example-*/
