__pycache__/
/web-app/.state/
*.py[cod]
/.venv/
/submit.sh
/job-results/
/build/runsolver/runsolver
/build/runsolver/.built-on-*
/workflows/example-workflows/example-*/source/
/workflows/example-workflows/example-*/bin/*
!/workflows/example-workflows/example-*/bin/.gitkeep
/workflows/example-workflows/example-*/submit.sh
/workflows/example-workflows/example-*/submit.sh.files/
/workflows/example-workflows/example-vampire/jobpairs.csv
/workflows/example-workflows/example-e/jobpairs.csv
/workflows/example-workflows/example-drodi/jobpairs.csv
/workflows/example-workflows/example-combined/jobpairs.csv
.slurmy-built
/workflows/my-workflows/*/
/workflows/my-workflows/.deleted-workflows/
/workflows/my-workflows/.problem-archives/
